*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: 'Times New Roman', Times, serif;
}
#display-nav,
.nav-item,
dialog button,
.sound-music,
input[type="checkbox"].toggle + label,
input[type="radio"] + label {
    cursor: pointer;
}
header > nav {
    height: 100%;
    width: 100%;
}
/* ******************** */
body {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/body/bg.jpg);
}

body,
#border {
    display: flex;
    justify-content: center;
    align-items: center;
}

#border {
    height: 93vh;
    width: 70vw;

    border-radius: 1.5rem;
    background-image: radial-gradient(black, rgb(52, 52, 52), black);
    box-shadow: 0 0 2rem rgb(0, 0, 0);
}

#bg-container {
    height: 95%;
    width: 95%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    border-radius: 1.5rem;
    background-size: cover;
    background-position: top;
    overflow: hidden;
}
/******************************************* */
/* Page Background images */
.table-page-bg {
    background-image: url("./assets/body/bg-table-main.svg");
}
.gradient-page-bg {
    background-image: linear-gradient(#83807d, 
                                      #bbb8b8, 
                                      #bfbab7, 
                                      #969391);
}
/******************************************* */

header {
    grid-row: 1 / span 2;
    grid-column: 1 / span 12;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;

    z-index: 1;

    background-image:  linear-gradient(
        45deg, 
        black,
        rgb(23, 23, 23), 
        rgb(40, 40, 40), 
        rgb(23, 23, 23), 
        black);
    background-size: cover;
    background-position: center;
    box-shadow: 0 .3rem .6rem rgb(0, 0, 0);
    border-radius: 1.25rem;
}

header > nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

header > nav > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

header > nav > ul button {
    background-color: transparent;
    border: none;
}

/* ************************ */
/* Trick: underline widening effect on hover */
.nav-item {
    /* 
    - Establish the element as a reference point for absoloutely positioned child.
    - In this case child element is '::after' pseudo element itself.
     */
    position: relative;
    display: inline-block; /* Control over stacking */
    padding: .6rem 1rem;

    color: rgba(206, 204, 204, 0.952);
    font-size: 1.3rem;

    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease, scale 0.3s ease;
}

.nav-item::after {
    /* 
    - "content: ''; "  is required for the pseudo-element to be generated. 
    - It specifies what content goes inside the pseudo-element (like a text or an image).
    */
    content: '';
    position: absolute; /* Position the underline */
    height: 2px; /* Underline thickness */
    width: 0; /* Initial state for the animation. Allows to create underline growing effect. */
    left: 50%; /* Initially centering the underline. With 'width: 0;' places underline starting point at the center of the element.*/
    bottom: 0; /* Set the underline right at the bottom of an element. */
    background-color: rgba(206, 204, 204, 0.952);
    transition: width 0.3s ease, left 0.3s ease; /* Animate width and horizontal position */
  
}

.nav-item:hover::after {
    width: 100%; /* Fully expanding the underline */
    left: 0;
    /* 
    'left: 0;' ensures that the growth of the underline appears to speread out symmetrically from the center to the sides.

    - Initially 'left' is set to '50%', positioning start of the '::after' pseudo-element in the center of the parent, with the width at '0'.
    - 'left' to '0' shifts the starting position to the left edge of the element.
    - Combined with 'width: 100%;' creates growth of the underline to the both sides.
     */
}

.nav-item:active {
    transform: scale(1.1);
}

.align-top {
    grid-row: 1 / auto;
    grid-column: 1 / span 12;

    margin: 0.2rem .4rem 0 .4rem;
    padding: 0 1rem;
}
.align-bottom {
    grid-row: 11 / auto;
    grid-column: 1 / span 12;

    margin: 3rem 1rem 0 1rem;
    padding: 2rem 1rem;
}
/* Start Game link */
.game-link-design {
    color: gold;
    font-size: 2rem;
    text-shadow: 0 .2rem 4rem goldenrod;
}
.game-link-design::after {
    background-color: gold;
}
.game-list-item {
    order: 1;
    flex-basis: 100%;
    text-align: center;
}

/*******************************
Nav display btn
 */
#display-nav {
    width: 3.5rem;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: scale 0.3s ease;
}
#display-nav img {
    width: 100%;
}
/****************************** */

main {
    grid-row: 2 / span 11;
    grid-column: 1 / span 12;
    padding: 1rem .4rem .4rem .4rem;
}

/********************************************* */




/* *************************************** */
/* General */
input[type="checkbox"]#toggle-sound:focus-visible + label[for="toggle-sound"] img,
input[type="checkbox"]#toggle-music:focus-visible + label[for="toggle-music"] img,
input[type="checkbox"].toggle:focus-visible + label::before,
input[type="checkbox"].toggle-sound-music:focus-visible + label::before,
input[type="radio"]:focus-visible + label {
    outline: 1px solid yellow;
}
/* Hide checkboxes (boxes itself) */
input[type="checkbox"].toggle,
input[type="checkbox"].toggle-sound-music,
input[name="deck-number"] {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

/* Dialog Box */
.settings-dialog {
    top: 12%;
    left: 60%;
    display: flex;
    flex-flow: column wrap;
    align-items:flex-start;
    gap: .9rem;
    margin: 0;
    padding: 1.5rem 0 1.3rem 2rem ;
    width: 18.6rem;

    color: rgb(240, 236, 236);
    opacity: 0;
    transform: scale(0.5);
    visibility: hidden;
}

/* Dialog Opening and Closing Animations */
/* Hardware acceleration */
dialog {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.settings-dialog {
    background-image: linear-gradient(rgb(27, 26, 26), 
                                      rgb(45, 45, 44), 
                                      rgb(35, 34, 34), 
                                      rgb(25, 24, 24));
    border: 1px solid transparent;
    border-radius: .7rem;
    box-shadow: 0 0 .1rem rgb(45, 44, 44);
}

/* Sound and music */
dialog img {
    width: 1.7rem;
    margin: 0 .13rem;
}
/* Toggle Sound and Music */

.label-sound,
.label-music {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}
#sound-off,
#music-off,
#sound-on,
#music-on {
    grid-row: 1;
    grid-column: 1;
}
#sound-off,
#music-off {
    opacity: 0;
}
#sound-on,
#music-on {
    width: 1.7rem;
    margin: 0 .13rem;
}
#sound-off,
#music-off {
    width: 1.9rem;
    margin: 0 .05rem;
}
input[type="checkbox"]#toggle-sound:checked + label[for="toggle-sound"] img#sound-off,
input[type="checkbox"]#toggle-music:checked + label[for="toggle-music"] img#music-off {
    animation: sound-music-off 300ms ease forwards;
}
@keyframes sound-music-off {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Deck Numbers */
.deck-list {
    margin: .5rem 0 1rem 0;
}
.deck-list legend {
    margin: 0 0 1.2rem 2.8rem;
}
.deck-list label {
    display: inline-block;
    margin-left: .13rem;
    width: 2.2rem;
    height: 2.2rem;
    padding: .45rem .7rem;
    background-image: linear-gradient(rgba(197, 52, 30, 0.959), 
                                      rgba(194, 51, 43, 0.941), 
                                      rgba(188, 51, 51, 0.951), 
                                      rgba(161, 33, 33, 0.938));
    border: 1px solid rgb(160, 6, 6);
    border-radius: .5rem;
    box-shadow: 0 0 .1rem rgb(177, 2, 2);
}
input[type="radio"]:first-of-type + label {
    margin-left: .6rem;
}
input[type="radio"]:checked + label {
    animation: deck-number-chosen 200ms ease forwards;
}

@keyframes deck-number-chosen {
    0% {
        background-image: linear-gradient(rgba(197, 52, 30, 0.959), 
                                          rgba(194, 51, 43, 0.941), 
                                          rgba(188, 51, 51, 0.951), 
                                          rgba(161, 33, 33, 0.938));
        border-color: rgb(160, 6, 6);
        box-shadow: 0 0 .1rem rgb(177, 2, 2);
        transform: scale(1);
    }
    100% {
        background-image: linear-gradient(rgba(61, 197, 59, 0.934), 
                                          rgba(52, 201, 72, 0.927), 
                                          rgba(60, 189, 56, 0.932), 
                                          rgba(49, 148, 44, 0.941));
        border-color: rgb(41, 183, 33);
        box-shadow: 0 0 .1rem rgb(33, 240, 40);
        transform: scale(1.2);
    }
}

/* Special Choices */
/* toggle checkboxe - slider */
input[type="checkbox"].toggle + label {
    display: flex;
    align-items: center;
    position: relative;
}
input[type="checkbox"].toggle + label::before {
    content: "";
    width: 2rem;
    height: 1rem;
    background-image: linear-gradient(rgb(228, 173, 173),
                                      rgb(235, 198, 198),
                                      rgb(200, 161, 161),
                                      rgb(173, 125, 125));
    border-radius: 5rem;
    margin-right: .8rem;
}
input[type="checkbox"].toggle + label::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  rgb(235, 209, 209);
    content: "\2715";
    font-size: .5rem;
    left: .1rem;
    width: .9rem;
    height: .9rem;
    background-color: rgb(201, 27, 27);
    background-image: linear-gradient(rgb(206, 2, 2), 
                                      rgb(195, 19, 19), 
                                      rgb(185, 11, 11), 
                                      rgb(167, 9, 9));
    box-shadow: 0px 0px 2.5px 0px rgb(201, 27, 27);
    border-radius: 5rem;
    transition: 200ms ease-in-out;
}
input[type="checkbox"].toggle:checked + label::before {
    background-image: linear-gradient(rgba(186, 237, 196, 0.896),
                                      rgba(215, 243, 214, 0.916),
                                      rgba(174, 216, 174, 0.937),
                                      rgba(135, 185, 142, 0.979));
}
input[type="checkbox"].toggle:checked + label::after {
    left: .9rem;
    background-image: linear-gradient(rgb(9, 163, 17), 
                                      rgb(22, 180, 54), 
                                      rgb(14, 158, 38), 
                                      rgb(9, 122, 18));
    box-shadow: 0 0 2.5px 0 rgb(47, 139, 59);
    animation: check-fade 400ms ease-in-out forwards;
}
@keyframes check-fade {
    0% {
        opacity: 1;
        content: "\2715";
    }
    50% {
        opacity: 0;
        content: "\2715";
    }
    100% {
        opacity: 1;
        content: "\2713";
    }
}

/* Settings' Comment */
.warning-about-settings {
    color: rgb(218, 215, 215);
}


/* Close Button */
.close-dialog-btn {
    margin: .8rem 0 .8rem 5rem;
    background-image: linear-gradient(rgba(132, 163, 146, 0.845), 
                                      rgba(170, 210, 184, 0.849), 
                                      rgba(138, 160, 143, 0.864), 
                                      rgba(66, 87, 72, 0.847));
    border-color: rgba(154, 155, 152, 0.815);
    box-shadow: 0 0 1px rgb(134, 135, 134);
    color: rgb(0, 0, 0);
    font-weight: bold;
}
dialog button {
    border-radius: .5rem;
    border: 1px solid rgb(142, 142, 142);
    padding: .5rem 1.2rem;
}



























.hidden {
    display: none;
}