*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    font-family: "Noto Serif Georgian", serif;
}
ul {
    list-style-type: none;
}
/* html */
html {
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    height: 100%;
    max-width: 900px;
    max-height: 700px;
    background-image: url(/assets/svg-icons/table-background.svg);
    background-size: cover;
    font-weight: bold;
}
/* Header */
/* Alignment */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1.5rem;
}

/* Size */
header button {
    width: 6rem;
    height: 2rem;
}
header img {
    width: 1rem;
}
.home-logo {
    width: 1.8rem;
}
.best-score {
    padding: .35rem;
}
/* main */
.initial-layout {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3.5rem;
}
.game-logo {
    width: 15rem;
    margin-top: 1rem;
}
/* Initial page button effects */
header button,
.best-score {
    border-radius: 7px;
    border: 1px solid rgb(119, 161, 55);
}
header button {
    font-weight: bold;
    background-color: rgb(175, 235, 85);
    background-image: linear-gradient(rgb(155, 219, 58), rgb(177, 241, 80), rgb(117, 167, 42));
}
.best-score {
    background-image: linear-gradient(rgb(22, 154, 172), rgb(10, 202, 202), rgb(17, 153, 216));
    border-color: rgb(9, 147, 211);
}
.new-game {
    background-image: linear-gradient(rgb(135, 223, 3), rgb(154, 255, 3), rgb(108, 177, 4));
    border-color: rgb(108, 175, 8);
}
.play {
    font-weight: bold;
    width: 13rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 20px;
    border: 1px solid goldenrod;
    background-image: linear-gradient(yellow, gold, rgb(241, 175, 8));
    transition: transform 0.2s ease;
}
.play:hover {
    background-image: linear-gradient(rgb(253, 237, 15), gold, rgb(255, 238, 0));
}
button {
    cursor: pointer;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
}
button:active {
    transform: scale(1.03);
}