*,
*::before,
*::after {
    box-sizing: border-box;
}
html, 
body,
#bg-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-image: url(./assets/body/bg.jpg);
}
#bg-container {
    height: 93vh;
    width: 70vw;
    border-radius: 1.5rem;
    background-image:  radial-gradient(black, rgb(52, 52, 52), black);
    box-shadow: 0 0 2rem rgb(0, 0, 0);
}
#table-container {
    height: 84vh;
    width: 64vw;
    background-image: linear-gradient(teal, black);
    overflow: hidden;
    border-radius: 1.5rem;
}