/* Rules Page CSS */

::-webkit-scrollbar {
  width: .7rem;
  height: .9rem;
}
::-webkit-scrollbar-thumb {
  background: #686868; 
  border-radius: 2rem; 
  border: 3px solid transparent; 
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::-webkit-scrollbar-thumb:active {
  background: #2e2e2e; 
}



#rules-page-container {
  height: 100%;
  margin: .5rem 3rem 0 3rem;
  overflow: scroll;

  display: flex;
  flex-flow: column;
  align-items: center;
}

h1,
h2,
.rule-group-container span {
  font-weight: bold;
}

h1 {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  text-shadow: 0 .4rem .4rem #634848b9;
}
h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-shadow: 0 .2rem .2rem #6452527c;
}
p {
  font-size: 1.1rem;
}
.introduction,
.final-words {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 1.3rem;
  text-shadow: 0 .2rem .2rem #5c54506d;
  color: rgb(56, 29, 29);
}
input {
  width: 15rem;
  margin-right: 2rem;
  padding: .4rem .8rem;
  align-self: flex-end;

  border: 1px solid #4d4845;
  border-radius: .5rem;
  background-color: transparent;
}
input:focus {
  scale: 1.01;
  outline: 1px solid #371b0c92;
}
input,
input::placeholder {
  font-size: 1.2rem;
  color: #464545;
}

.rule-group-container {
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid rgba(81, 73, 73, 0.689);
  box-shadow: 0 .1rem .3rem rgba(80, 75, 75, 0.419);
}
.rule-group-container p {
  margin-bottom: .3rem;
}
.highlight {
  background-color: yellow;
}