



#game-page-container,
#pre-game-page-container,
#pre-game-page-html,
#pre-game-page-canvas,
.chip img {
  width: 100%;
  height: 100%;
}


#pre-game-page-container {
  position: relative;
  background-image: radial-gradient(rgba(24, 24, 44, 0.76),
                                    rgba(45, 45, 72, 0.715),
                                    rgba(32, 32, 56, 0.681));
  box-shadow: 0 0 3rem 3rem rgba(32, 32, 56, 0.681);
}


#pre-game-page-html {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}


/* Page Heading */
#pre-game-page-html h2 {
  width: 60%;
  padding: 1rem;
  text-align: center;
  align-content: center;

  background-image: linear-gradient(rgb(65, 65, 105),
                                    rgb(88, 88, 125),
                                    rgb(65, 65, 114));
  border: qpx solid transparent;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgb(14, 19, 41);
  color: white;
  font-size: 1.3rem;
}


/* Choose number of hands and bets */

/* Hands Container */

#hands-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.hand-container {
  position: relative;
  width: 12rem;
  height: 12rem;
}
#hand-container-2 {
  margin-top: 4rem;
}
.activate-hand {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid rgb(242, 210, 28);
  border-radius: 50%;
  background-image: radial-gradient(rgb(35, 157, 149),
                                    rgb(14, 65, 54));

}
.activated-hand {
  box-shadow: 0 0 1rem rgb(110, 168, 167);
}


.bet-container {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  
  border: .1rem dashed rgb(0, 221, 255);
  border-radius: 50%;
  background-image: radial-gradient(rgb(51, 204, 207), 
                                    rgb(43, 146, 167), 
                                    rgb(16, 82, 92),
                                    rgb(0, 217, 255));
}
[data-action="remove-last-bet"] {
  position: absolute; /* Relatively positioned is '.hand-container' */
  top: 26%;
  left: 26%;
  width: 3.5rem;
  height: 3.5rem;

  background-image: linear-gradient(rgb(11, 149, 180), 
                                    rgb(63, 181, 231), 
                                    rgb(31, 129, 159));
  border: 1px solid goldenrod;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgb(7, 69, 101);
}
.bet-container output {
  position: absolute;
  display: inline-block;
  bottom: -10%;
  left: 9%;
  width: 6rem;
  height: 1.8rem;

  border: 1px solid goldenrod;
  border-radius: 1rem;
  background-image: linear-gradient(rgb(4, 84, 102), 
                                    rgb(25, 104, 137), 
                                    rgb(31, 129, 159));
                                    
  background-image: radial-gradient(rgb(33, 44, 63),
                                    rgb(29, 38, 66));
}
/* ************************************************************** */


/* Deal Button */


#deal {
  padding: 1.3rem 2.6rem;
  border: .01px solid lime;
  border-radius: .7rem;
  background-image: linear-gradient(green,
                                    rgb(16, 186, 16),
                                    rgb(13, 182, 13),
                                    green);
  box-shadow: 0 0 1rem rgb(9, 144, 9);

  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}


/* Chip and Bank Container */
#chip-bank-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;

  width: 65%;
  height: 22%;
  margin-bottom: 1rem;
}

/* Chip */
#chip-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem 0.2rem;
  background-image: linear-gradient(rgba(24, 24, 44, 0.849),
                                    rgba(45, 45, 72, 0.881),
                                    rgba(32, 32, 56, 0.868));
  border: 1px solid transparent;
  border-radius: .7rem;
  box-shadow: 0 0 1rem rgb(26, 26, 53);
}
.chip {
  width: 4rem;
  height: 4rem;
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgb(20, 57, 27);

  cursor: pointer;
  transition: transform .5s ease;
}

.chip:hover {
  transform: scale(1.025);
}
.chip:active {
  transform: scale(1.05);
}

/* Bank */
#bank-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: .2rem .2rem .2rem .5rem;
  border: 1px solid black;
  background-image: linear-gradient(rgb(30, 30, 58),
                                    rgb(45, 45, 71),
                                    rgb(31, 31, 60));
  border: 1px solid transparent;
  border-radius: .45rem;
  font-size: 1.2rem;
}
#bank-container h3,
#bank  {
  padding-right: .3rem;
}
#bank-container h3 {
  color: rgb(249, 255, 69);
}
#bank {
  padding: .5rem;
  border: 1px solid transparent;
  border-radius: .45rem;
  background-image: linear-gradient(black,
                                    rgb(32, 32, 32),
                                    black);
  color: gold;
}



